
<div class="content__inner">
  <header class="content__title">
    <h1>{{ pageTitle }}</h1>
    <small>{{ pageSubTitle }}</small>
  </header>

  <div class="card">
    <div class="card-body">


      <table datatable class="table table-bordered" [dtOptions]="options">
        <thead>
          <tr>
            <th *ngFor="let column of columns">{{ column.title }} </th>
          </tr>
          <!-- <tr *ngFor="let column of columns">
              <button type="button" class="btn btn-primary" [(ngModel)]="singleToggle" btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0">
                Single Toggle
              </button>
          </tr> -->
        </thead>
      </table>
    </div>
  </div>
</div>

