<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table
        datatable
        class="table table-bordered"
        [dtTrigger]="dtTrigger"
        [dtOptions]="options"
      >
        <thead>
          <tr>
            <th *ngFor="let column of columns">{{ column.title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of userData">
            <td>{{ row._id }}</td>

            <td>{{ row.firstName }}</td>
            <td>{{ row.lastName }}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.phone }}</td>
            <td *ngIf="row.check">
              <button
                class="btn btn-success"
                (click)="deActivate(row._id, row.check)"
              >
                Active
              </button>
            </td>
            <td *ngIf="!row.check">
              <button
                class="btn btn-secondary"
                (click)="activate(row._id, row.check)"
              >
                Inactive
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
